.app {
  display: block;
  justify-content: center;
  background: #f4d982;
  height:170px;
  width: 400px;
  padding: 10px;
}

.todo-list {
  background: #00b096;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: rgb(198, 255, 237);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}